.DS_Store
data/*
!data/fat/classes.txt
src/__pycache__
src/loaders/__pycache__
src/utils/__pycache__
src/models/__pycache__
src/evaluation/__pycache__
src/.*
papers/*
.idea
.vscode
.DS_Store
src/deprecated
src/etc
src/logs
src/runs
src/params.py
checkpoints/*
*.ipynb
!visualize_graph.ipynb
*.txt
src/temp.off
src/utils/FMNet/data
src/utils/FMNet/results
src/utils/FMNet/checkpoints
src/utils/FMNet/utils/shot/CMakeFiles
src/utils/pyFM/mesh/data/*
__pycache__
*.png
*.json
outputs/
*.ply
